<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load staticfiles %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" type="text/css" media="screen" />

	<title>{% block title %}{% endblock %}</title>

    {% block head %}{% endblock %}
</head>

<body>

<div class="logo">
<a class="brand" href="{% url 'index' %}">
    <img src="{{ STATIC_URL }}img/logo.png" alt="luna healing logo">
    <span>luna healing</span><br>
    <span class="medium">gentle transformative reiki</span>
</a>
</div>

<div class="spacing_top">
{% block content %}{% endblock %}
</div>

{% block footer %}
    <div class="center">Contact <a href="mailto:jessamyn@lunahealing.ca">Jessamyn Smith</a>
      for more information or to book an appointment.</div>
    <div class="small center footer">Version {{ VERSION }}, Deployed {{ DEPLOY_DATE }}</div>
{% endblock %}

</body>

</html>
