{% extends "base.html" %}

{% block title %}luna healing{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
	<h3>Welcome to luna healing!</h3>

    Reiki is a form of energy healing originated by Mikao Usui in Japan in 1922. Reiki is a warm
    and loving energy, transmitted via the practitioner's hands to the client's body. Jessamyn completed
    her level 3 reiki training with <a href="http://unleashyourpotential.net/">Dany Lyne</a>
    and is licensed by the <a href="http://www.reiki.ca/">Canadian Reiki Association</a>.
{% endblock %}
