{% extends "base.html" %}

{% block title %}luna healing{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
	<h3>Welcome to luna healing!</h3>

  I am a multi-modality therapist located on the west side of Toronto. I am
  trained in Reiki, CranioSacral Therapy, and Medical Qigong. Through practicing these modalities
  myself, I have moved from chronic anxiety to a state of calm, and have healed some of my
  long-standing physical health issues. I am particularly experienced in working with women's
  reproductive system issues.
  <ul>
  <li><b>Reiki</b> is a form of energy healing originated by Mikao Usui in Japan in 1922. Reiki is a warm
    and loving energy, transmitted via the practitioner's hands to the client's body. I
    completed my level 3 Reiki training with
    <a href="http://unleashyourpotential.net/">Dany Lyne</a>
    and am licensed by the <a href="http://www.reiki.ca/">Canadian Reiki Association</a>./li>
  <li><b>CranioSacral Therapy</b> is a a subtle, gentle form of bodywork that helps align the skeleton
    for optimal comfort and functioning. I have studied intermediate CranioSacral Therapy
    with Robert Harris of the
    <a href="http://www.cranialtherapy.ca/">Cranial Therapy Centre</a></li>
  <li><b>Qigong</b> is an ancient discipline, the ancestor of many Eastern martial arts. Medical Qigong
    is the branch of Traditional Chinese Medicine that uses meditation, body movements, and sound
    to balance deficiencies and excesses in the body. I have completed my Level 1
    (66 class hours) Medical Qigong training with
    <a href="http://www.torontotaichimeditationcentre.com/ShifuDonnaOliver.html">Donna Oliver</a>.
  </li>
  </ul>
{% endblock %}
