body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #FDFFF5;
    color: #00297A;
}

div {
    margin: 0;
    padding: 10px;
}

.logo {
    background-color: #1947A3;
    color: #FFFFCC;
    font-size: 30px;
    font-weight: bold;
    height: 54px;
}

.logo a:link, .logo a:visited, .logo a:hover, .logo a:active {
    color: #FFFFCC;
    text-decoration: none;
}

.brand {
    float: left;
    font-weight: bold;
    line-height: 20px;
    height: 52px;
    padding-top: 8px;
    white-space: nowrap;
}

.brand img {
    float: left;
    margin-right: 10px;
}

.logo div {
    margin-bottom: 0;
    padding-bottom: 0;
}

.medium {
    font-size: 14px;
    margin-top: 10px;
}

.small {
    font-size: 12px;
    line-height: 10px;
}

.center {
    width: 100%;
    text-align: center;
}

.spacing_top {
    margin-top: 10px;
}

.footer {
    padding-top: 12px;
    color: grey;
}
